@font-face {
    font-family: 'RobotoMonoRegular';
    src: url('../font/RobotoMono-Regular.ttf');
}

@font-face {
    font-family: 'Roboto Mono';
    src: url('../font/RobotoMono-Medium.ttf');
}

@font-face {
    font-family: 'Inconsolata';
    src: url('../font/inconsolata.ttf');
}

.sidebar-group .caption-text {
    color: #3eaf7c;
}

.navbar .logo {
    height: 35px;
    width: auto;
    min-width: auto;
}

.sidebar .toctree-l1 a {
    padding: .35rem 1rem .35rem 1rem;
}

.sidebar .toctree-l2 a {
    padding: .35rem 1rem .35rem 1.75rem;
}

.sidebar .toctree-l3 a {
    padding: .35rem 1rem .35rem 2.5rem;
}

.sidebar .toctree-l4 a {
    padding: .35rem 1rem .35rem 3rem;
}

.sidebar .toctree-l5 a {
    padding: .35rem 1rem .35rem 3.5rem;
}

.sidebar .toctree-l6 a {
    padding: .35rem 1rem .35rem 4rem;
}


dt {
    margin-top: 1.7em;
    padding-top: 0;
    font-weight: bold;
}

.footnote-reference, .label, dt, p
{
    margin-top: 0;
    padding-top: 0;
}

.admonition .admonition-title {
    margin-top: 10px;
    margin-bottom: 5px;
}

caption {
    margin-top: 15px;
    margin-bottom: 15px;
    text-align: left;
    font-weight: bold;
    font-style: italic;
    color: #888;
}

.content .highlighted {
    padding: 0 0;
}

a.copybtn {
    opacity: 0.6;
    transition: opacity 0.2s;
}


